name: deploy-binder

# Only run this when the master branch changes
on:
  push:
    branches:
    - main

# This job installs dependencies, builds the book, and pushes it to `gh-pages`
jobs:
  deploy-binder:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v3
    - uses: FedericoCarboni/setup-ffmpeg@v3
      id: setup-ffmpeg
      with:
        # A specific version to download, may also be "release" or a specific version
        # like "6.1.0". At the moment semver specifiers (i.e. >=6.1.0) are supported
        # only on Windows, on other platforms they are allowed but version is matched
        # exactly regardless.
        ffmpeg-version: release
        # Target architecture of the ffmpeg executable to install. Defaults to the
        # system architecture. Only x64 and arm64 are supported (arm64 only on Linux).
        architecture: ''
        # Linking type of the binaries. Use "shared" to download shared binaries and
        # "static" for statically linked ones. Shared builds are currently only available
        # for windows releases. Defaults to "static"
        linking-type: static
        # As of version 3 of this action, builds are no longer downloaded from GitHub
        # except on Windows: https://github.com/GyanD/codexffmpeg/releases.
        github-token: ${{ github.server_url == 'https://github.com' && github.token || '' }}
    # Install dependencies
    - name: Set up Python 3.12
      uses: actions/setup-python@v3
      with:
        python-version: "3.12"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install ".[docs]"

    # Build the book
    - name: Sphinx build
      run: |
        cd ./docs; make html; cd ..
        mkdir notebooks
        mkdir notebooks/auto_examples/
        cp -r punchbowl/ notebooks/auto_examples/
        cp pyproject.toml notebooks/auto_examples/
        cp docs/binder/requirements.txt notebooks/auto_examples/
        cp docs/binder/requirements.txt .
        cp docs/binder/runtime.txt notebooks/auto_examples/
        cp docs/binder/runtime.txt .
        cp docs/auto_examples/*.ipynb notebooks/auto_examples/
    # Push the rendered notebooks to branch
    - uses: stefanzweifel/git-auto-commit-action@v7
      with:
        branch: binder
        create_branch: true
        push_options: '--force'
